* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  font-size: 1rem;
  color: gray;
}
input:focus, input:active{
  outline: none;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  overflow: hidden;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  background-color: #ddd;
  width: 200px;
}
.card figure{
  width: 90%;
  margin: 10px auto;
}
.card figure img{
  width: 100%;
}
.card p{
  position: relative;
  width: 90%;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}